<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>הרשמה</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="register()">
            <mat-form-field appearance="fill">
                <mat-label>אימייל</mat-label>
                <input matInput [(ngModel)]="email" name="email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>סיסמה</mat-label>
                <input matInput [(ngModel)]="password" name="password" type="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">הרשמה</button>
        </form>
    </mat-card-content>
    <!-- <mat-card-footer> -->
        <p>כבר יש לך חשבון? <a routerLink="/login">התחבר כאן</a></p>
    <!-- </mat-card-footer> -->
</mat-card>
