<div class="overlay">
    <div id="root" class="form-container">
      <h1>Add Lesson:</h1>
      <form #form="ngForm" (ngSubmit)="saveCourse()">
        
        <mat-form-field appearance="outline" class="input-field full-width">
          <mat-label>Title</mat-label>
          <input matInput #title="ngModel" id="title" [(ngModel)]="lesson.title" name="title" required />
          <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
            Title is required.
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="input-field full-width">
          <mat-label>Content</mat-label>
          <textarea matInput #content="ngModel" id="content" [(ngModel)]="lesson.content" name="content" required></textarea>
          <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
            Content is required.
          </mat-error>
        </mat-form-field>
  
        <div class="button-group full-width">
          <button mat-raised-button (click)="cancel()" color="warn" class="full-width">Cancel</button>
          <button mat-raised-button type="submit" color="primary" class="full-width">Add</button>
        </div>
      </form>
    </div>
  </div>
  