<p>add-course works!</p>
<mat-card>
  <mat-card-header>
    <mat-card-title>הוסף קורס חדש</mat-card-title>
  
 
</mat-card-header> <!-- סגירה נכונה של תגית -->
  <mat-card-content>
    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
      <div formGroupName="courseGroup">
        <mat-form-field appearance="fill">
          <mat-label>שם הקורס</mat-label>
          <input matInput  formControlName="title" type="text" required>
          @if (addCourseForm.get('courseGroup.title')?.invalid && addCourseForm.get('courseGroup.title')?.touched) {
            <mat-error>שם קורס הוא שדה חובה</mat-error>
          }
           
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>תיאור הקורס</mat-label>
          <input matInput id="description" formControlName="description" type="text" required>
        @if (addCourseForm.get('courseGroup.description')?.invalid && addCourseForm.get('courseGroup.description')?.touched) {
          <mat-error>תיאור הקורס הוא שדה חובה</mat-error>
        }
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">הוסף קורס</button>
      <button mat-button [routerLink]="['/home']">ביטול</button>
    </form>
  </mat-card-content>
</mat-card>
