
<div class="login-container">
  <mat-card class="login-card">
      <mat-card-title>התחברות</mat-card-title>
      <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field appearance="fill">
                  <mat-label>דוא"ל</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-error >@if(loginForm.get('email').hasError('required'))דוא"ל הוא שדה חובה.</mat-error>
                  <mat-error >@if(loginForm.get('email').hasError('email'))אנא הכנס דוא"ל תקין.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>סיסמה</mat-label>
                  <input matInput type="password" formControlName="password" required>
                  <mat-error >@if(loginForm.get('password').hasError('required'))סיסמה היא שדה חובה.</mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">התחבר</button>
          </form>
      </mat-card-content>
  </mat-card>
</div>


