<p>lessons works!</p>
<div class="courses-container">
    <h2>Available Lessons</h2>
    @if(this.user$.value.role=="teacher"){
    <button class="btAdd" mat-raised-button color="primary" (click)="add()">
      {{"Add Lesson"|icon }} 
    </button>
   }
    
    <div class="courses-grid">
      @for(lesson of lessons$.value; track lesson.id){
      <mat-card class="course-card">
        <mat-card-header>
          <!-- <mat-icon>menu_book</mat-icon> -->
          <mat-card-title>{{ lesson.title }}</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p>{{ lesson.content }}</p>
        </mat-card-content>
  
        <mat-card-actions>
            @if(this.user$.value.role!="student"){
            <button mat-icon-button (click)="edit(lesson)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteLesson(lesson.id)">
              <mat-icon>delete</mat-icon>
            </button>
        }
        </mat-card-actions>
  
      </mat-card>
      }
    </div>
  </div>
  
  @if(editFlag){
    <app-lesson-details
      [lesson]="lessonToChange"
      (childSaveLesson)="updateLesson($event)">
    </app-lesson-details>
  }
  
  @if(addFlag){
    <app-lesson-details
      [lesson]="lessonToChange"
      (childSaveLesson)="addLesson($event)">
    </app-lesson-details>
  }