<div class="button-container">
  <p style="color: white; font-family: 'Arial', sans-serif;">לכניסה/הרשמה</p>
  
  <button mat-raised-button (click)="openLoginDialog()" style="margin: 10px; background-color: black; color: white; border: 2px solid #ff9800;">
    <mat-icon>login</mat-icon> כניסה
  </button>
  
  <button mat-raised-button (click)="openRegisterDialog()" style="margin: 10px; background-color: black; color: white; border: 2px solid #ff9800;">
    <mat-icon>person_add</mat-icon> הרשמה
  </button>
</div>
