<mat-toolbar color="primary">
    <span>ניהול קורסים חכמים</span>
  </mat-toolbar>
  
  <div style="text-align: center; margin-top: 20px;">
    <mat-card>
      <h2>מנהל</h2>
      <p>כאן המנהל יכול לצפות בכל המידע.</p>
      <!-- <button mat-raised-button color="accent" (click)="onAdminClick()">למנהל</button> -->
    </mat-card>
  
    <mat-card>
      <h2>מורים</h2>
      <p>כאן המורים יכולים לנהל את הקורסים שלהם.</p>
      <!-- <button mat-raised-button color="accent" (click)="onTeacherClick()">למורים</button> -->
    </mat-card>
  
    <mat-card>
      <h2>תלמידים</h2>
      <p>כאן התלמידים יכולים לגשת לקורסים שלהם.</p>
      <!-- <button mat-raised-button color="accent" (click)="onStudentClick()">לתלמידים</button> -->
    </mat-card>
  </div>
  
