<h2>רשימת הקורסים</h2>
<mat-card>
    <mat-accordion>
        @for (course of courses; track course.id)
        {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="coursebutton">
                    <button mat-raised-button color="accent" (click)="joinCourse(course.id)">
                        הצטרף לקורס
                    </button>
                    <button mat-raised-button color="accent" (click)="addCourse(course)">
                        הוספת קורס
                    </button>
                    <button mat-raised-button color="accent" (click)="deleteCourse(course.id)">
                        עדכון קורס
                    </button>
                   
                    <mat-panel-title>
                        {{ course.title }}
                    </mat-panel-title>
                </div>
            </mat-expansion-panel-header>
            <h4>Course description:</h4>
            <p>{{ course.description }}</p>
        </mat-expansion-panel>
        }
    </mat-accordion>
</mat-card>